#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 1000;
}

.bg-hero {
    position: relative;
    background: url('../images/hero.jpg') no-repeat center center;
    background-size: cover;
}

.bg-hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: brightness(0.5); /* Adjust the brightness value as needed */
    z-index: 1;
}

.bg-low-poly {
    position: relative;
    background: url('../images/lowpoly.png') no-repeat center center;
    background-size: cover;
}

.bg-low-poly2 {
    position: relative;
    background: url('../images/lowpoly.png') no-repeat center center;
    background-size: cover;
    z-index: -1;
}

.content, .bg-utama {
    position: relative;
    height: 100%;
    z-index: 2;
}

/* End of homepage style */

.agenda-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}
.agenda-card img {
    width: 100%;
    height: auto;
}
.join-course-btn {
    background-color: #ff7f45;
    color: white;
    border: none;
}
/* 
.activity-box {
border: 1px solid #ccc;
padding: 20px;
min-height: 200px;
}
.calendar-box {
padding: 20px;
}
.announcement-box {
padding: 20px;
}
.announcements, .calendar {
margin-top: 20px;
}
.task-item {
display: flex;
align-items: center;
margin-bottom: 10px;
}
.task-icon {
margin-right: 10px;
} */

/* End of dashboard Style */

#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }


